{{!< default}}

{{#post}}

  <main id="site-main" class="site-main">
    <article class="inner">
      <header class="article-header gh-canvas">
        <h1 class="article-title">{{title}}</h1>
      </header>
      <section class="gh-content gh-canvas">
      {{#get "tags" limit="all" include="count.posts" order="name desc"}}
        <ul>
          {{#foreach tags}}
            <li>
              <a href="{{url}}">
                {{name}}
                <small>({{count.posts}})</small>
              </a>
            </li>
          {{/foreach}}
        </ul>
      {{/get}}
      </section>
    </article>
  </main>

{{/post}}